../.git
../.gitignore
../package.json
../package-lock.json
../node_modules
../api-gateway
../mifos-connector
../web-portal
../docs
../grafana
.git
.gitignore
*.log
.DS_Store
android/build
android/app/build
android/.gradle
ios/build
.expo
.expo-shared
